.header {
  box-sizing: border-box;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  max-width: 729px;
  font-family: inter, sans-serif, arial;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 0;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  font-family: Noto Serif, serif, times new roman;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  z-index: 1;
}

.header__span-accent {
  display: block;
  font-family: Noto Serif, serif, times new roman;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 175px;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}
